<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whychapedia.mapper.CollectionArtistMapper">
		<!-- 	해당 유저가 구독하는 배우 id 전체 가져오기 -->
	<select id="selectActor_like_id" resultType="com.whychapedia.vo.CollectionArtistVo">
		select ca.*,w.*,a.*
		from collection_actor ca
		inner join wuser w on ca.user_id=w.id
		inner join actor a on ca.actor_id=a.id
		where w.id=#{user_id}
	</select>
	
	<!-- 해당 유저가 구독하는 감독 id 전체 가져오기  -->
	<select id="selectDirector_like_id" resultType="com.whychapedia.vo.CollectionArtistVo">
		select cd.*,w.*,d.*
		from collection_director cd
		inner join wuser w on cd.user_id=w.id
		inner join director d on cd.director_id=d.id
		where w.id=#{user_id}
	</select>
	
	
	<!-- 	해당 유저가 해당 감독 컬렉션 구독하는지 체크 -->
	<select id="checkCollectionDirector" resultType="int">
		SELECT COUNT(*) FROM collection_director WHERE user_id = #{user_id} AND director_id = #{director_id}
	</select>
	
	<!-- 	해당 유저가 해당 감독 컬렉션 구독하는지 체크 -->
	<select id="checkCollectionActor"  resultType="int">
		SELECT COUNT(*) FROM collection_actor WHERE user_id = #{user_id} AND actor_id = #{actor_id}
	</select>
	

	<!-- 	해당 유저 id가 해당 감독 컬렉션 추가 -->
	<insert id="insertCollectionDirector">
		insert into collection_director(ID,USER_ID,DIRECTOR_ID)
		select coalesce(max(id),0)+1, #{user_id}, #{director_id} from collection_director
	</insert>
		<!-- 해당 유저 id가 해당 감독 컬렉션 취소 -->
	<delete id="deleteCollectionDirector">
		delete from collection_director where director_id=#{director_id} and user_id=#{user_id}
	</delete>
	
	<!-- 	해당 유저 id가 해당 배우 컬렉션 추가 -->
	<insert id="insertCollectionActor">
		insert into collection_actor(ID,USER_ID,actor_ID)
		select coalesce(max(id),0)+1, #{user_id}, #{actor_id} from collection_actor
	</insert>
	
	<!-- 해당 유저 id가 해당 배우 컬렉션 취소 -->
	<delete id="deleteCollectionActor">
		delete from collection_actor where actor_id=#{actor_id} and user_id=#{user_id}
	</delete>
	
	<!-- 해당 유저가 구독하는 감독 개수 -->
	<select id="selectDirectorCount" resultType="int">
		select count(*)
		from collection_director 
		where user_id=#{user_id}
	</select>
	
	<!-- 해당 유저가 구독하는 배우 개수 -->
	<select id="selectActorCount" resultType="int">
		select count(*)
		from collection_actor
		where user_id=#{user_id}
	</select>

</mapper>