<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whychapedia.mapper.AdminUserMapper">

	<!-- ADMIN_MEMBER_LIST query구문 -->
	<select id="userMemberSelectAll" resultType="com.whychapedia.vo.MemberVo">
		select * from ( select row_number() over ( order by id desc ) rnum, a.* from wuser a ) where rnum between #{startRow} and #{endRow}
	</select> 
	
	<!-- ADMIN_MEMBER_COUNT query구문 -->
	<select id="selectCount" resultType="int">
		select count(*) count from wuser
	</select>
	

	<!-- ADMIN_MEMBER_LIST_SEARCHWORD query구문 -->
	<select id="userMemberSelectAll_searchWord" resultType="com.whychapedia.vo.MemberVo">
		select * from ( select row_number() over ( order by id desc ) rnum, a.* from wuser a where user_name like '%' || #{searchWord} || '%' ) where rnum between #{startRow} and #{endRow}
	</select>

	<!-- ADMIN_MEMBER_COUNT_SEARCHWORD query구문 -->
	<select id="selectCount_searchWord" resultType="int">
		select count(*) count from wuser where user_name like '%' || #{searchWord} || '%'
	</select>






	<!-- admin Member SelectOne query구문 -->
	<select id="userMemberSelectOne" resultType="com.whychapedia.vo.MemberVo">
		select * from wuser where id = #{id}
	</select>

	<!-- admin Member Block query구문 -->
	<update id="userMemberSelectBlock">
		update wuser set is_block = 2 where id = #{block_id}
	</update>

	<!-- admin Member Normal query구문 -->
	<update id="userMemberSelectNormal">
		update wuser set is_block = 1 where id = #{block_id}
	</update>

</mapper>