<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whychapedia.mapper.AdminQnAMapper">

	<!-- admin QnA list query구문 -->
	<select id="adminQnAList" resultType="com.whychapedia.vo.QuestionListVo">
		select * from
		( select rownum rnum, a.id, a.question_title, a.question_content, a.question_file_url, b.user_name as user_name, a.regi_date, a.processing_statu
		from question_list a, wuser b
		where a.user_id = b.id
		order by a.regi_date desc )
		where rnum between 1 and 5
	</select>



	<!-- ANSWER_LIST_ALL query구문 -->
	<select id="adminAnswerList" resultType="com.whychapedia.vo.AnswerListVo">
		select * from answer_list
	</select>

	<!-- QnA_LIST_ALL query구문 -->
	<select id="adminQnAListAll" resultType="com.whychapedia.vo.QuestionListVo">
		select * from
		( select rownum rnum, a.id, a.question_title, a.question_content, a.question_file_url, b.user_name as user_name, a.regi_date, a.processing_statu
		from question_list a, wuser b
		where a.user_id = b.id
		order by a.regi_date desc ) where rnum between #{startRow} and #{endRow}
	</select>

	<select id="selectCount" resultType="int">
		select count(*) count from
		( select a.id, a.question_title, a.question_content, a.question_file_url, b.user_name as user_name, a.regi_date, a.processing_statu
		from question_list a, wuser b
		where a.user_id = b.id
		order by a.regi_date desc )
	</select>


	<!-- QnA_LIST_ALL query구문 -->
	<select id="adminQnAListAll_searchWord" resultType="com.whychapedia.vo.QuestionListVo">
		select * from
		( select rownum rnum, a.id, a.question_title, a.question_content, a.question_file_url, b.user_name as user_name, a.regi_date, a.processing_statu
		from question_list a, wuser b
		where a.user_id = b.id and b.user_name like '%' || #{searchWord} || '%'
		order by a.regi_date desc ) where rnum between #{startRow} and #{endRow}
	</select>

	<select id="selectCount_searchWord" resultType="int">
		select count(*) count from
		( select a.id, a.question_title, a.question_content, a.question_file_url, b.user_name as user_name, a.regi_date, a.processing_statu
		from question_list a, wuser b
		where a.user_id = b.id and b.user_name like '%' || #{searchWord} || '%'
		order by a.regi_date desc )
	</select>
	
	
	
	
	<!-- admin QnA view query구문 -->
	<select id="adminQnASelectOne" resultType="com.whychapedia.vo.QuestionListVo">
		select * from ( select a.id, a.question_title, a.question_content, a.question_file_url, b.user_name as user_name, a.regi_date, a.processing_statu from question_list a, wuser b
		where a.user_id = b.id and a.id = #{id} )
	</select>
	
	<!-- admin answer_list view query구문 -->
	<select id="adminAnswerSelectOne" resultType="com.whychapedia.vo.AnswerListVo">
		select * from ( select a.id, a.question_id, a.answer_content, a.answer_file_url, a.regi_date, b.admin_name as admin_name from answer_list a, admin b
		where a.admin_id = b.id and a.question_id = #{id} )
	</select>
	
	
	
	
	
	<!-- admin QnA reply query구문 -->
	<select id="adminQnAReplySelectOne" resultType="com.whychapedia.vo.QuestionListVo">
		select * from ( select a.id, a.question_title, a.question_content, a.question_file_url, b.user_name as user_name, a.regi_date, a.processing_statu from question_list a, wuser b
		where a.user_id = b.id and a.id = #{id} )
	</select>
	
</mapper>