<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whychapedia.mapper.AdminMapper">

	<!-- admin 로그인 query구문 -->
	<select id="adminSelectOne" resultType="com.whychapedia.vo.AdminVo">
		select * from admin where admin_email = #{admin_email} and admin_pw = #{admin_pw}
	</select>

	<!-- ADMIN_MEMBER_LIST query구문 -->
	<select id="adminMemberList" resultType="com.whychapedia.vo.AdminVo">
		select * from ( select rownum rnum, a.* from admin a ) where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="selectCount" resultType="int">
		select count(*) count from admin
	</select>


	<!-- ADMIN_MEMBER_LIST_SEARCHWORD query구문 -->
	<select id="adminMemberList_searchWord" resultType="com.whychapedia.vo.AdminVo">
		select * from ( select rownum rnum, a.* from admin a where a.admin_name like '%' || #{searchWord} || '%' ) where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="selectCount_searchWord" resultType="int">
		select count(*) count from admin where admin_name like '%' || #{searchWord} || '%'
	</select>




	<!-- admin Member create admin_email체크 query구문 -->
	<select id="admin_email_check" parameterType="String" resultType="int">
		select count(admin_email) from admin where admin_email = #{admin_email}
	</select>

	<!-- admin Member create query구문 -->
	<insert id="adminMemberInsert">
		insert into admin values ( 6, #{admin_position}, #{admin_name}, #{admin_email}, #{admin_pw}, 1, sysdate, '1900/01/01' )
	</insert>

	<!-- admin Member 상세페이지 query구문 -->
	<select id="adminMemberSelectOne" resultType="com.whychapedia.vo.AdminVo">
		select * from admin where id = #{id}
	</select>

	<!-- admin Member 계정삭제 query구문 -->
	<delete id="adminMemberDelete">
		delete admin where id = #{id}
	</delete>

	<!-- admin Member 계정수정 query구문 -->
	<update id="adminMemberModify">
		update admin set admin_position=#{admin_position}, admin_name=#{admin_name}, admin_email=#{admin_email}, admin_pw=#{admin_pw} where id=#{id}
	</update>

	<!-- my_admin 비밀번호 수정 query구문 -->
	<update id="adminMemberPwUpdate">
		update admin set admin_pw=#{admin_pw} where id=#{id}
	</update>

</mapper>