div {
		    display: block;
		}
		img {
		    border-style: none;
		}
		
		img {
		    overflow-clip-margin: content-box;
		    overflow: clip;
		}
	
		section {
		    display: block;
		}
		
		
		ul {
    		isplay: block;
		    list-style-type: disc;
		    margin-block-start: 1em;
		    margin-block-end: 1em;
		    margin-inline-start: 0px;
		    margin-inline-end: 0px;
		    padding-inline-start: 40px;
		}
		
		li {
		    display: list-item;
		    text-align: -webkit-match-parent;
		}

	.css-1xm32e0 {
      position: relative;
      width: 100%;
    }
    .css-113bxwv {
      padding-bottom: 0;
    }

    @media (min-width:719px) {
      .css-113bxwv {
        padding-bottom: unset;
      }
    }
    @media (min-width:719px) {
      .css-67lr2q {
        padding: 20px 0;
        padding-top:75px;
      }
    }
    .css-1ei367s {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: #f8f8f8;
    }
    .css-17qazew {
      margin: 0 auto;
    }

    @media (min-width:719px) {
      .css-17qazew {
        max-width: 640px;
      }
    }

    @media (min-width:1023px) {
      .css-17qazew {
        max-width: 640px;
      }
    }
    .css-1oqdupz-RoundedCornerBlock-RoundedCornerBlock {
      background: #fff;
      border-color: #e3e3e3 !important;
      overflow: hidden;
      position: relative;
    }

    .css-1oqdupz-RoundedCornerBlock-RoundedCornerBlock:empty {
      display: none;
    }

    @media (min-width:719px) and (max-width:1023px) {
      .css-1oqdupz-RoundedCornerBlock-RoundedCornerBlock {
        border: 1px solid;
        border-radius: 6px;
      }
    }

    @media (min-width:1023px) {
      .css-1oqdupz-RoundedCornerBlock-RoundedCornerBlock {
        border: 1px solid;
        border-radius: 6px;
      }
    }
    .css-5l3zer {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      background: linear-gradient(to right, #141130, #1481a7);
    }
    .css-etjqct {
      position: relative;
      z-index: 1;
      background: url(/images/analysis_background.png) left bottom no-repeat;
      background-size: cover;
      padding: 0 10px;
    }
    .css-1y901al-Row {
      margin: 0 20px;
    }
    .css-1d7gqmp {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding: 28px 0 8px;
    }
    .css-1cubea9 {
      display: inline-block;
      background: url(/images/whychapedia_white_logo.png) no-repeat center;
      background-size: contain;
      background-size: 350px auto; 
      width: 350px;
      height: 67.35px;
      vertical-align: top;
    }
    .css-1bmxwx8 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: flex-start;
      -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
      margin: 0;
      overflow: hidden;
    }
    .css-1haseg {
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      -webkit-letter-spacing: normal;
      -moz-letter-spacing: normal;
      -ms-letter-spacing: normal;
      letter-spacing: normal;
      line-height: normal;
      line-height: 19px;
      margin: 0 0 12px 1px;
    }
    .css-1yyol1o {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      padding: 86px 0 0;
      margin: 0 0 25px;
    }
    .css-170kft5 {
      display: block;
      border: solid 4px rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 56px;
      height: 56px;
      overflow: hidden;
      width: 32px;
      height: 32px;
      border: 0;
      margin: 0 13px 0 0;
    }
    .css-fom973-ProfilePhotoImage {
      position: relative;
      z-index: 1;
/*       background: url(https://an2-img.amz.wtchn.net/image/v2/UeyS5EYz49xlo03dQalR8A.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1UQXdlREV3TUNKZExDSndJam9pTDNZeUwzTjBiM0psTDNWelpYSXZaSEE0ZGpac01tSTJlWGgzWlM5d2NtOW1hV3hsTHpFMk56QXpNVE0wTmpBeU9ESXdOelU0TmpZaWZRLjVsMnp2cVRSTE1HSFM1djJGMUtDeDJKME5RVkVpaUxMRERSdnZBZThRVXM) no-repeat center; */
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .css-mp2a8y {
      color: #ffffff;
      font-size: 17px;
      font-weight: 400;
      -webkit-letter-spacing: -0.3px;
      -moz-letter-spacing: -0.3px;
      -ms-letter-spacing: -0.3px;
      letter-spacing: -0.3px;
      line-height: 24px;
      font-weight: 500;
      white-space: nowrap;
      text-align: left;
      width: calc(100vw - 105px);
      word-break: break-all;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media (min-width:719px) {
      .css-mp2a8y {
        width: 500px;
      }
    }
    .css-q1hgmq-RoundedCornerBlock-RoundedCornerBlock {
      background: #fff;
      border-color: #e3e3e3 !important;
      overflow: hidden;
      background: transparent;
      margin: 12px 0 0;
    }

    .css-q1hgmq-RoundedCornerBlock-RoundedCornerBlock:empty {
      display: none;
    }

    @media (min-width:719px) and (max-width:1023px) {
      .css-q1hgmq-RoundedCornerBlock-RoundedCornerBlock {
        border: 1px solid;
        border-radius: 6px;
      }
    }

    @media (min-width:1023px) {
      .css-q1hgmq-RoundedCornerBlock-RoundedCornerBlock {
        border: 1px solid;
        border-radius: 6px;
      }
    }
    .css-1f4aos9 {
      background: #fff;
      padding: 8px 0 0;
    }

    .css-1f4aos9:last-child {
      margin: 0;
    }

    .css-1f4aos9:last-child hr {
      display: none;
    }
    .css-1ue9xs6 {
      overflow: hidden;
    }
    .css-1wtjsst {
      float: left;
      color: #000;
      font-size: 19px;
      font-weight: 700;
      -webkit-letter-spacing: -0.7px;
      -moz-letter-spacing: -0.7px;
      -ms-letter-spacing: -0.7px;
      letter-spacing: -0.7px;
      line-height: 28px;
      margin: 8px 0;
    }
    .css-17y9cpn {
      margin: 8px 0 0;
    }
    .css-1ai3iwk-VisualUl {
      list-style: none;
      padding: 0;
      margin: 0;
      margin: 0 -6px;
    }
    .css-1666h6g {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      box-sizing: border-box;
      width: 24%;
      padding: 0 6px;
    }
    .css-1caz78i {
      font-size: 17px;
      font-weight: 700;
      -webkit-letter-spacing: -0.5px;
      -moz-letter-spacing: -0.5px;
      -ms-letter-spacing: -0.5px;
      letter-spacing: -0.5px;
      line-height: 22px;
      line-height: 19px;
      margin: 0 0 4px;
    }
    .css-1fak39c {
      color: #787878;
      font-size: 12px;
      font-weight: 400;
      -webkit-letter-spacing: -0.2px;
      -moz-letter-spacing: -0.2px;
      -ms-letter-spacing: -0.2px;
      letter-spacing: -0.2px;
      line-height: 16px;
      line-height: 19px;
    }
    .css-1iutxjm {
      border: 0;
      border-bottom: 1px solid #f0f0f0;
      margin: 24px 0 0;
    }
    .css-e9w2vw {
      background: #fff;
      padding: 8px 0 0;
      padding-bottom: 24px;
    }

    .css-e9w2vw:last-child {
      margin: 0;
    }

    .css-e9w2vw:last-child hr {
      display: none;
    }
    .css-d98475 {
      color:rgb(255, 90, 11);
      font-size: 13px;
      font-weight: 400;
      -webkit-letter-spacing: -0.2px;
      -moz-letter-spacing: -0.2px;
      -ms-letter-spacing: -0.2px;
      letter-spacing: -0.2px;
      line-height: 18px;
      line-height: normal !important;
      text-align: center;
      margin: 8px 0 24px;
    }
    .css-baz663 {
      max-width: 375px;
      margin: 58px auto 0;
      margin: 0 auto;
    }
    .css-g1q7ln {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: flex-end;
      -webkit-box-align: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
      text-align: center;
      margin: 0 -1px;
    }
    .css-hugi8h {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      box-sizing: border-box;
      padding: 0 1px;
    }
    .css-1n3dn6t {
      display: block;
      position: relative;
      background: #ffa136;
      color: #a0a0a0;
      vertical-align: bottom;
      font-size: 12px;
      font-weight: 400;
      -webkit-letter-spacing: -0.2px;
      -moz-letter-spacing: -0.2px;
      -ms-letter-spacing: -0.2px;
      letter-spacing: -0.2px;
      line-height: 16px;
      text-align: left;
      margin: 0 0 22px;
    }
    .css-111q860-Bar {
      display: block;
      position: relative;
      background: #ffdd63;
      color: #a0a0a0;
      vertical-align: bottom;
      font-size: 12px;
      font-weight: 400;
      -webkit-letter-spacing: -0.2px;
      -moz-letter-spacing: -0.2px;
      -ms-letter-spacing: -0.2px;
      letter-spacing: -0.2px;
      line-height: 16px;
      text-align: left;
      margin: 0 0 22px;
    }

    .css-111q860-Bar::after {
      content: "1";
      display: block;
      position: absolute;
      right: 0;
      bottom: -22px;
      left: 0;
      text-align: center;
    }
    .css-r41bl-Bar {
      display: block;
      position: relative;
      background: #ffa136;
      color: #a0a0a0;
      vertical-align: bottom;
      font-size: 12px;
      font-weight: 400;
      -webkit-letter-spacing: -0.2px;
      -moz-letter-spacing: -0.2px;
      -ms-letter-spacing: -0.2px;
      letter-spacing: -0.2px;
      line-height: 16px;
      text-align: left;
      margin: 0 0 22px;
    }

    .css-r41bl-Bar::after {
      content: "2";
      display: block;
      position: absolute;
      right: 0;
      bottom: -22px;
      left: 0;
      text-align: center;
    }
    .css-r1x3ay {
      display: block;
      position: relative;
      background: #ffdd63;
      color: #a0a0a0;
      vertical-align: bottom;
      font-size: 12px;
      font-weight: 400;
      -webkit-letter-spacing: -0.2px;
      -moz-letter-spacing: -0.2px;
      -ms-letter-spacing: -0.2px;
      letter-spacing: -0.2px;
      line-height: 16px;
      text-align: left;
      margin: 0 0 22px;
    }
    .css-z5uyqq-Bar {
      display: block;
      position: relative;
      background: #ffa136;
      color: #a0a0a0;
      vertical-align: bottom;
      font-size: 12px;
      font-weight: 400;
      -webkit-letter-spacing: -0.2px;
      -moz-letter-spacing: -0.2px;
      -ms-letter-spacing: -0.2px;
      letter-spacing: -0.2px;
      line-height: 16px;
      text-align: left;
      margin: 0 0 22px;
    }

    .css-z5uyqq-Bar::after {
      content: "3";
      display: block;
      position: absolute;
      right: 0;
      bottom: -22px;
      left: 0;
      text-align: center;
    }
    .css-10zyi34 {
      display: block;
      position: relative;
      background: #ffdd63;
      color: #a0a0a0;
      vertical-align: bottom;
      font-size: 12px;
      font-weight: 400;
      -webkit-letter-spacing: -0.2px;
      -moz-letter-spacing: -0.2px;
      -ms-letter-spacing: -0.2px;
      letter-spacing: -0.2px;
      line-height: 16px;
      text-align: left;
      margin: 0 0 22px;
    }
    .css-1hp04q9-Bar {
      display: block;
      position: relative;
      background: #ffa136;
      color: #a0a0a0;
      vertical-align: bottom;
      font-size: 12px;
      font-weight: 400;
      -webkit-letter-spacing: -0.2px;
      -moz-letter-spacing: -0.2px;
      -ms-letter-spacing: -0.2px;
      letter-spacing: -0.2px;
      line-height: 16px;
      text-align: left;
      margin: 0 0 22px;
    }

    .css-1hp04q9-Bar::after {
      content: "4";
      display: block;
      position: absolute;
      right: 0;
      bottom: -22px;
      left: 0;
      text-align: center;
    }
    .css-15egokh {
      display: block;
      position: relative;
      background: #ffdd63;
      color: #a0a0a0;
      vertical-align: bottom;
      font-size: 12px;
      font-weight: 400;
      -webkit-letter-spacing: -0.2px;
      -moz-letter-spacing: -0.2px;
      -ms-letter-spacing: -0.2px;
      letter-spacing: -0.2px;
      line-height: 16px;
      text-align: left;
      margin: 0 0 22px;
    }
    .css-fa6pmb-Bar {
      display: block;
      position: relative;
      background: #ffa136;
      color: #a0a0a0;
      vertical-align: bottom;
      font-size: 12px;
      font-weight: 400;
      -webkit-letter-spacing: -0.2px;
      -moz-letter-spacing: -0.2px;
      -ms-letter-spacing: -0.2px;
      letter-spacing: -0.2px;
      line-height: 16px;
      text-align: left;
      margin: 0 0 22px;
    }

    .css-fa6pmb-Bar::after {
      content: "5";
      display: block;
      position: absolute;
      right: 0;
      bottom: -22px;
      left: 0;
      text-align: center;
    }
    .css-1s4ow07 {
      padding: 24px 0 0;
    }
    .css-poewkh {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      box-sizing: border-box;
      width: 32%;
      padding: 0 6px;
    }
    .css-ersfrj {
      margin: 12px 0 0;
    }
    .css-npnx79-Self {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .css-usdi1z {
      position: relative;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    .css-usdi1z:hover .arrow_button {
      opacity: 1;
    }
    .css-1rbc54i {
      overflow-x: hidden;
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;
      -webkit-scrollbar-width: none;
      -moz-scrollbar-width: none;
      -ms-scrollbar-width: none;
      scrollbar-width: none;
      padding: 0 0 24px;
    }

    .css-1rbc54i::-webkit-scrollbar {
      display: none !important;
    }
    .css-174lxc3 {
      -webkit-transition: 500ms;
      transition: 500ms;
    }
    .css-1m9zbc5-VisualUl {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 228px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      margin-right: -5px;
      margin-left: -5px;
    }

    @media (min-width:719px) {
      .css-1m9zbc5-VisualUl>li {
        width: 100%;
      }
    }

    @media (min-width:1023px) {
      .css-1m9zbc5-VisualUl>li {
        width: 100%;
      }
    }
    .css-wj6fn0 {
      box-sizing: border-box;
      width: 100%;
    }

    .css-wj6fn0 [class*="ProfilePhotoImage"] {
      border-radius: 50%;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08) inset;
    }
    .css-1aaqvgs-InnerPartOfListWithImage {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: inherit;
      -webkit-text-decoration: none;
      text-decoration: none;
      height: 76px;
    }
    .css-cssveg {
      position: relative;
    }
    .css-13zlig9 {
      display: block;
      border: solid 1px rgba(0, 0, 0, 0.08);
      border-radius: 50%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 56px;
      height: 56px;
      overflow: hidden;
      border: none;
      margin: 0 12px 0 0;
    }
    .css-1q751em-ProfilePhotoImage {
      position: relative;
      z-index: 1;
/*       background: url(https://an2-img.amz.wtchn.net/image/v2/fMijQHfJkcOPs_UvAfULUg.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qUXdlREkwTUNKZExDSndJam9pTDNZeUwzTjBiM0psTDNCbGNuTnZiaTh4TmpRd056UTNNVEkxTmpBMk1UYzRORFE1SW4wLllCOEhIYzNXOS1SdF9TVlZMa3QxdC1KdUJUbjZramlDRjdKMkNVZFQxbXc) no-repeat center; */
      width: 100%;
      height: 100%;
    }
    
    
    .css-zoy7di {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      box-sizing: border-box;
      height: 100%;
      border-bottom: 1px solid #f0f0f0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .css-qkf9j {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 0 10px 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .css-17vuhtq {
      color: #1e1e1e;
      font-size: 17px;
      font-weight: 400;
      -webkit-letter-spacing: -0.7px;
      -moz-letter-spacing: -0.7px;
      -ms-letter-spacing: -0.7px;
      letter-spacing: -0.7px;
      line-height: 22px;
      -webkit-letter-spacing: 0;
      -moz-letter-spacing: 0;
      -ms-letter-spacing: 0;
      letter-spacing: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .css-1pfpne2-PersonTitle {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: flex-start;
      -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
    }
    .css-1neatfa-PersonName {
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 0 5px 0 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .css-104v25a-PersonDetail {
      color: #787878;
      font-size: 14px;
      font-weight: 400;
      -webkit-letter-spacing: -0.3px;
      -moz-letter-spacing: -0.3px;
      -ms-letter-spacing: -0.3px;
      letter-spacing: -0.3px;
      line-height: 19px;
    }
    .css-1evnpxk-StyledSubtitle {
      color: #8c8c8c;
      font-size: 14px;
      font-weight: 400;
      -webkit-letter-spacing: -0.3px;
      -moz-letter-spacing: -0.3px;
      -ms-letter-spacing: -0.3px;
      letter-spacing: -0.3px;
      line-height: 19px;
      white-space: nowrap;
      margin-top: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .css-n9cdrx-ProfilePhotoImage {
      position: relative;
      z-index: 1;
      background: url(https://an2-img.amz.wtchn.net/image/v2/Kfs0jfPr0HaqbRYQ-wvFtQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qUXdlREkwTUNKZExDSndJam9pTDNZeEwzQmxiM0JzWlM5dFpXUnBkVzB2TXpJNE1tUTRaR0l3T0RJM1lUazRPR1EwT1RJdWFuQm5JbjAuN2xRNEQ4ZENQUzRqZzV3Yko2WDFpak4weEw2Ty1BNHRONGRmbFhzblp2TQ) no-repeat center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .css-1ukr9uq-ProfilePhotoImage {
      position: relative;
      z-index: 1;
      background: url(https://an2-img.amz.wtchn.net/image/v2/XWZ8ZzT-ig5ukcX_hLJTiA.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk1qUXdlREkwTUNKZExDSndJam9pTDNZeEwzQmxiM0JzWlM5dFpXUnBkVzB2TURrd1lXSmlZVGN4WkRWbFpqWmtObVk0T0RrdWFuQm5JbjAuOWNyNUNRMnRvQjlYQlRqYUtzOTJqbTZWeldrNTNNWFRUM25DVEVRaG9obw) no-repeat center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .css-16n7af8 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      box-sizing: border-box;
      height: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .css-6qnjre {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
    }
    .css-a89h8a {
      display: none;
      position: absolute;
      top: 0;
      z-index: 1;
      left: 0;
      width: 0;
      height: 100%;
    }
    .css-1qgb5vh {
      display: none;
      position: absolute;
      top: 0;
      z-index: 1;
      right: 0;
      width: 0;
      height: 100%;
    }
    .css-38kpup {
      display: none;
      position: absolute;
      top: 0;
      z-index: 2;
      left: 10px;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      opacity: 0;
      -webkit-transition: 300ms;
      transition: 300ms;
    }
    .css-1hestod {
      background: #a5a5aa url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMEgxMlYxNkgweiIgdHJhbnNmb3JtPSJyb3RhdGUoMTgwIDYgOCkiLz4KICAgICAgICA8cGF0aCBmaWxsPSIjMjkyQTMyIiBzdHJva2U9IiMyOTJBMzIiIHN0cm9rZS13aWR0aD0iLjM1IiBkPSJNMy40MjkgMTMuNDA5TDQuMzU0IDE0LjI1OCAxMC42OCA4LjQ2IDExLjE0MyA4LjAzNiA0LjM1NCAxLjgxMyAzLjQyOSAyLjY2MiA5LjI5MSA4LjAzNnoiIHRyYW5zZm9ybT0icm90YXRlKDE4MCA2IDgpIi8+CiAgICA8L2c+Cjwvc3ZnPgo=) no-repeat 12px;
      background-color: #fff;
      box-sizing: border-box;
      width: 34px;
      height: 34px;
      border: solid 1px #f9f9f9;
      border-radius: 50%;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      background-size: 12px;
      width: 34px;
      height: 34px;
      cursor: pointer;
      -webkit-transition: opacity 300ms;
      transition: opacity 300ms;
    }

    .css-1hestod:hover {
      opacity: 1;
    }
    .css-h5qs9h {
      display: none;
      position: absolute;
      top: 0;
      z-index: 2;
      right: 10px;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      opacity: 0;
      -webkit-transition: 300ms;
      transition: 300ms;
    }
    .css-vp7uyl {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #fff;
      box-sizing: border-box;
      width: 34px;
      height: 34px;
      border: solid 1px #f9f9f9;
      border-radius: 50%;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
      background-size: 12px;
      width: 34px;
      height: 34px;
      cursor: pointer;
      -webkit-transition: opacity 300ms;
      transition: opacity 300ms;
    }

    .css-vp7uyl>img {
      opacity: 0.4;
    }

    .css-vp7uyl:hover>img {
      opacity: 0.8;
    }

    .css-vp7uyl:hover {
      opacity: 1;
    }
    .css-god8tc {
      border: 0;
      border-bottom: 1px solid #f0f0f0;
    }
    .css-fqg8by {
      padding: 32px 0 21px;
    }
    .css-r60ppo-VisualUl {
      list-style: none;
      padding: 0;
      margin: 0;
      padding: 0 0 12px;
    }
    .css-1h25cxh {
      display: block;
      color: #8c8c8c;
      font-size: 14px;
      font-weight: 400;
      -webkit-letter-spacing: -0.3px;
      -moz-letter-spacing: -0.3px;
      -ms-letter-spacing: -0.3px;
      letter-spacing: -0.3px;
      line-height: 19px;
      padding: 8px 0 9px;
      overflow: hidden;
    }

    .css-1h25cxh>span {
      float: right;
      font-size: 12px;
      font-weight: 400;
      -webkit-letter-spacing: -0.2px;
      -moz-letter-spacing: -0.2px;
      -ms-letter-spacing: -0.2px;
      letter-spacing: -0.2px;
      line-height: 16px;
      line-height: 19px;
    }
    .css-klz1dn {
      color: rgb(255, 90, 11);
      font-size: 13px;
      font-weight: 400;
      -webkit-letter-spacing: -0.2px;
      -moz-letter-spacing: -0.2px;
      -ms-letter-spacing: -0.2px;
      letter-spacing: -0.2px;
      line-height: 18px;
      line-height: normal !important;
      text-align: center;
      margin: 8px 0 0;
    }
    .css-1d4r906-StylelessButton {
      background: none;
      padding: 0;
      border: none;
      margin: 0;
      cursor: pointer;
      background: #ff2f6e;
      color: #fff;
      text-align: center;
      font-size: 17px;
      font-weight: 400;
      -webkit-letter-spacing: -0.7px;
      -moz-letter-spacing: -0.7px;
      -ms-letter-spacing: -0.7px;
      letter-spacing: -0.7px;
      line-height: 22px;
      width: 100%;
      height: 44px;
      border-radius: 6px;
      font-size: 15px;
      font-weight: 500;
      -webkit-letter-spacing: -0.5px;
      -moz-letter-spacing: -0.5px;
      -ms-letter-spacing: -0.5px;
      letter-spacing: -0.5px;
      line-height: 20px;
      box-sizing: border-box;
      width: auto;
      min-width: 72px;
      height: 32px;
      padding: 5px 12px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #fff;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
      -webkit-letter-spacing: -0.3px;
      -moz-letter-spacing: -0.3px;
      -ms-letter-spacing: -0.3px;
      letter-spacing: -0.3px;
      line-height: 18px;
      text-align: center;
      width: calc(100% - 30px);
      max-width: 172px;
      height: 34px;
      padding: 0 0 0 8px;
      border: 1px solid #e3e3e3;
      margin: 0 auto !important;
    }

    .css-1d4r906-StylelessButton:focus {
      outline: none;
    }

    .css-1d4r906-StylelessButton:disabled {
      background: #f6f6f6;
      color: #d4d4d4;
    }

    .css-1d4r906-StylelessButton>span {
      margin-left: 2px;
    }
    .css-cg0u6i {
      display: inline-block;
      background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTYuNSA5LjEwMDFMMTIgMTQuNjAwMUwxNy41IDkuMTAwMSIgc3Ryb2tlPSIjNzg3OTgyIiBzdHJva2Utd2lkdGg9IjEuNSIvPgo8L3N2Zz4K) no-repeat center;
      background-size: contain;
      width: 24px;
      height: 24px;
    }
    .css-134vx88 {
      color: rgb(255, 90, 11);
      font-size: 17px;
      font-weight: 700;
      -webkit-letter-spacing: -0.5px;
      -moz-letter-spacing: -0.5px;
      -ms-letter-spacing: -0.5px;
      letter-spacing: -0.5px;
      line-height: 22px;
      line-height: normal !important;
      text-align: center;
      margin: 12px 0 4px;
    }
    .css-1qf8yzq {
      color: rgb(255, 90, 11);
      font-size: 13px;
      font-weight: 400;
      -webkit-letter-spacing: -0.2px;
      -moz-letter-spacing: -0.2px;
      -ms-letter-spacing: -0.2px;
      letter-spacing: -0.2px;
      line-height: 18px;
      line-height: normal !important;
      text-align: center;
      margin: 4px 0 0;
    }
    .css-pjxj5o {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      background: rgba(0, 0, 0, 0.56);
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
    .css-vi9yju {
      position: fixed;
      top: 20px;
      right: 0;
      left: 0;
      z-index: 103;
    }
    .css-any20b {
      position: fixed;
      right: 0;
      bottom: 20px;
      left: 0;
      z-index: 103;
      padding-bottom: env(safe-area-inset-bottom);
    }