@charset "UTF-8";

/* 검색창 스크립트, 스타일 */

        .css-13i5xe6:focus {
            outline: none;
        }
        .css-fxxino{
            -webkit-text-size-adjust: 100%;
            line-height: normal;
            --sat: env(safe-area-inset-top);
            --sal: env(safe-area-inset-left);
            --sar: env(safe-area-inset-right);
            --sab: env(safe-area-inset-bottom);
            font-family: RobotoInCjk, "Noto Sans KR", "Apple SD Gothic Neo", "Nanum Gothic", "Malgun Gothic", sans-serif;
            color: #fff;
            list-style: none;
            position: absolute;
            top: calc(100% - 6px);
            left: auto;
            z-index: 1;
            background-color: rgb(255, 255, 255);
            width: 300px;
            border-radius: 2px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
        }
        .css-13i5xe6 {
            font-size: 14px;
            font-weight: 400;
            -webkit-letter-spacing: -0.3px;
            -moz-letter-spacing: -0.3px;
            -ms-letter-spacing: -0.3px;
            letter-spacing: -0.3px;
            line-height: 23px;
            background: transparent;
            width: 100%;
            padding: 0;
            padding-bottom: 1px;
            border: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            caret-color: #353535;
        }
        .css-1c9vu8r {
            float: left;
            color: rgb(255, 5, 88);
            font-size: 13px;
            font-weight: 400;
            letter-spacing: -0.2px;
            line-height: 19px;
            margin: 5px 0px 6px;

        }
        .css-haamvo-StylelessButton {
            background: none;
            padding: 0px;
            border: none;
            cursor: pointer;
            color: rgb(126, 126, 126);
            font-size: 12px;
            font-weight: 400;
            letter-spacing: -0.26px;
            line-height: normal;
            margin: 5px 0px 7px;
        }
        li {
            display: list-item;
            text-align: -webkit-match-parent;
        }
        ul {
            list-style-type: disc;
        }
        div {
            display: block;
        }
        .css-6v7b8v-VisualUl {
            list-style: none;
            padding: 0;
            margin: 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
        }
        .css-1if4rat-FullWidthRow {
            margin: 0px -5.5px;
        }
        .css-1h6sp57 {
            padding: 5px 0px;
        }
        section {
            display: block;
        }
        .css-gve0r1-PediaRow {
            margin: 0px 11px;
        }
        .css-1ue9xs6 {
            overflow: hidden;
        }
        h2 {
            display: block;
            font-size: 1.5em;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
        }
        .css-s289sk {
            float: right;
        }
        .css-haamvo-StylelessButton {
            background: none;
            padding: 0px;
            border: none;
            cursor: pointer;
            color: rgb(126, 126, 126);
            font-size: 12px;
            font-weight: 400;
            letter-spacing: -0.26px;
            line-height: normal;
            margin: 5px 0px 7px;
        }
        .css-10n5vg9-VisualUl {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        ul ul {
            list-style-type: circle;
            margin-block-start: 0px;
            margin-block-end: 0px;
        }
        .css-13is4px {
            text-align: left;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            color: rgb(0, 0, 0);
            font-size: 17px;
            font-weight: 400;
            letter-spacing: -0.7px;
            line-height: 22px;
            min-height: 32px;
            padding: 0px 11px;
        }
        .css-10n5vg9-VisualUl {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .css-13is4px {
            text-align: left;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            color: rgb(0, 0, 0);
            font-size: 17px;
            font-weight: 400;
            letter-spacing: -0.7px;
            line-height: 22px;
            min-height: 32px;
            padding: 0px 11px;
        }
        .css-1c4znvk {
            flex: 1 1 0%;
            overflow: hidden;
            text-overflow: ellipsis;
            color: rgb(41, 42, 50);
            font-size: 14px;
            font-weight: normal;
            letter-spacing: -0.3px;
            line-height: normal;
            white-space: nowrap;
            margin:0 10px;
        }
        .css-13is4px {
            text-align: left;
            box-sizing: border-box;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            color: rgb(0, 0, 0);
            font-size: 17px;
            font-weight: 400;
            letter-spacing: -0.7px;
            line-height: 22px;
            min-height: 32px;
            padding: 0px 0px;
        }
        .css-13is4px :hover{
            background-color: #dfdfdf;
        }

        .css-10n5vg9-VisualUl {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .css-6r4d6b {
            display: flex;
            flex: 1 1 0%;
            -webkit-box-align: center;
            align-items: center;
            box-sizing: border-box;
            min-height: 32px;
        }
        .css-1yo7t0i {
            box-sizing: border-box;
            padding: 0px 5.5px;
        }
        input {
            writing-mode: horizontal-tb !important;
            text-rendering: auto;
            color: fieldtext;
            letter-spacing: normal;
            word-spacing: normal;
            line-height: normal;
            text-transform: none;
            text-indent: 0px;
            text-shadow: none;
            display: inline-block;
            text-align: start;
            appearance: auto;
            -webkit-rtl-ordering: logical;
            cursor: text;
            background-color: field;
            margin: 0em;
            padding: 1px 2px;
            border-width: 2px;
            border-style: inset;
            border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
            border-image: initial;
        }

        .css-cdybbf {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            color: rgb(41, 42, 50);
            font-size: 14px;
            font-weight: normal;
            letter-spacing: -0.3px;
            line-height: normal;
            white-space: nowrap;
            text-align: left;
            padding: 5px 10px 7px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .css-1yarod2 {
            padding: 0px 0px;
            cursor: pointer;
        }
        .css-q1t2hb-VisualUl {
            list-style: none;
            padding: 0px;
            margin: 0px;
            position: relative;
            z-index: 1;
        }
        :root {
            --sat: env(safe-area-inset-top);
            --sal: env(safe-area-inset-left);
            --sar: env(safe-area-inset-right);
            --sab: env(safe-area-inset-bottom);
        }
        .css-1yarod2 :hover{
            background-color: #dfdfdf;
        }
        .css-14ipivh{
            display: none;
        }
        .css-cwsoc3 {
            padding: 5px 0px;
        }
        #css-fxxino2{
            display: none;
        }
        #css-fxxino1{
            display: none;
        }
        .css-1qmg4jw {
            display: block;
            border-right: none;
            border-bottom: none;
            border-left: none;
            border-image: initial;
            border-top: 1px solid rgb(235, 236, 237);
            margin: 0px 11px;
        }


/* 검색창 스크립트, 스타일  end  */





 .css-1n41o32 {
            position: fixed;
            z-index: 50;
            background: #fff;
            width: 100%;
            border-bottom: 1px solid #d2d2d2;
        }

        .css-1mxbo8g-HeaderBarPrimitive {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 50;
            background: #fff;
            box-sizing: border-box;
            font-size: 17px;
            font-weight: 700;
            -webkit-letter-spacing: -0.5px;
            -moz-letter-spacing: -0.5px;
            -ms-letter-spacing: -0.5px;
            letter-spacing: -0.5px;
            line-height: 22px;
            width: 100%;
            height: 44px;
            padding: 0 16px;
            border-bottom: 1px solid #e3e3e3;
            top: 62px;
            text-align: left;
            height: auto;
            position: relative;
            top: 0 !important;
            border: 0;
        }

        .css-uf1ume {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .css-a6n3jw-StylelessButton-HeaderCloseButtonSelf-TopLeftButton {
            background: none;
            padding: 0;
            border: none;
            margin: 0;
            cursor: pointer;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiNGRjJGNkUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgdHJhbnNmb3JtPSJyb3RhdGUoNDUgMTIgMTIpIj4KICAgICAgICA8cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxOCIgeD0iMTEiIHk9IjMiIHJ4PSIxIi8+CiAgICAgICAgPHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjIiIHg9IjMiIHk9IjExIiByeD0iMSIvPgogICAgPC9nPgo8L3N2Zz4K);
            width: 24px;
            height: 24px;
            margin: 10px 0;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiNGRjJGNkUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTYuNzU1IDExLjk4OGw0Ljk1OCA0Ljk1OGEuOTguOTggMCAxIDEtMS4zODcgMS4zODdMNCAxMi4wMDdsLjAwNS0uMDA1TDQgMTEuOTk3bDYuMzQzLTYuMzQzYS45Ny45NyAwIDEgMSAxLjM3MyAxLjM3M2wtNC45NjEgNC45NnoiLz4KICAgICAgICA8cGF0aCBkPSJNNiAxMWgxM2ExIDEgMCAwIDEgMCAySDZ2LTJ6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=) !important;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-size: 100%;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            line-height: normal;
        }

        .css-1d4ojes {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 30px;
            margin: 0 4px 10px;
            opacity: 1;
            -webkit-transition: 150ms ease;
            transition: 150ms ease;
        }

        .css-1bvesam {
            display: inline-block;
            font-size: 33px;
            font-weight: 700;
            -webkit-letter-spacing: -1.2px;
            -moz-letter-spacing: -1.2px;
            -ms-letter-spacing: -1.2px;
            letter-spacing: -1.2px;
            line-height: 40px;
            font-size: 22px;
            line-height: 29px;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .css-10bjf2k {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            white-space: nowrap;
            text-align: center;
            font-size: 17px;
            font-weight: 700;
            -webkit-letter-spacing: -0.5px;
            -moz-letter-spacing: -0.5px;
            -ms-letter-spacing: -0.5px;
            letter-spacing: -0.5px;
            line-height: 22px;
            margin: 11px 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            opacity: 0;
            -webkit-transition: 300ms ease;
            transition: 300ms ease;
        }

        @media (min-width: 719px) {
            .css-1e0vaz3-VisualUl {
                width: 335px;
            }
        }

        .css-1e0vaz3-VisualUl {
            list-style: none;
            padding: 0;
            margin: 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: flex-end;
            -webkit-box-align: flex-end;
            -ms-flex-align: flex-end;
            align-items: flex-end;
            background: #fff;
            box-sizing: border-box;
            width: 100%;
            height: 48px;
            padding: 0 16px;
        }

        .css-1qee6f7 {
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            color: #ff2f6e;
            font-size: 15px;
            font-weight: 500;
            -webkit-letter-spacing: -0.5px;
            -moz-letter-spacing: -0.5px;
            -ms-letter-spacing: -0.5px;
            letter-spacing: -0.5px;
            line-height: 20px;
            box-sizing: border-box;
            min-width: 48px;
            height: 44px;
            border-bottom: 3px solid #ff2f6e;
            cursor: pointer;
            box-sizing: border-box;
            width: 50%;
        }

        .css-1d4ojes {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 30px;
            margin: 0 4px 10px;
            opacity: 1;
            -webkit-transition: 150ms ease;
            transition: 150ms ease;
        }

        .css-1bvesam {
            display: inline-block;
            font-size: 33px;
            font-weight: 700;
            -webkit-letter-spacing: -1.2px;
            -moz-letter-spacing: -1.2px;
            -ms-letter-spacing: -1.2px;
            letter-spacing: -1.2px;
            line-height: 40px;
            font-size: 22px;
            line-height: 29px;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .css-1d4ojes {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 30px;
            margin: 0 4px 10px;
            opacity: 1;
            -webkit-transition: 150ms ease;
            transition: 150ms ease;
        }

        .css-10bjf2k {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            white-space: nowrap;
            text-align: center;
            font-size: 17px;
            font-weight: 700;
            -webkit-letter-spacing: -0.5px;
            -moz-letter-spacing: -0.5px;
            -ms-letter-spacing: -0.5px;
            letter-spacing: -0.5px;
            line-height: 22px;
            margin: 11px 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            opacity: 0;
            -webkit-transition: 300ms ease;
            transition: 300ms ease;
        }

        .css-1n41o32 {
            position: fixed;
            z-index: 50;
            background: #fff;
            width: 100%;
            border-bottom: 1px solid #d2d2d2;
        }

        .css-1mxbo8g-HeaderBarPrimitive {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 50;
            background: #fff;
            box-sizing: border-box;
            font-size: 17px;
            font-weight: 700;
            -webkit-letter-spacing: -0.5px;
            -moz-letter-spacing: -0.5px;
            -ms-letter-spacing: -0.5px;
            letter-spacing: -0.5px;
            line-height: 22px;
            width: 100%;
            height: 44px;
            padding: 0 16px;
            border-bottom: 1px solid #e3e3e3;
            top: 62px;
            text-align: left;
            height: auto;
            position: relative;
            top: 0 !important;
            border: 0;
        }

        .css-uf1ume {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .css-a6n3jw-StylelessButton-HeaderCloseButtonSelf-TopLeftButton {
            background: none;
            padding: 0;
            border: none;
            margin: 0;
            cursor: pointer;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiNGRjJGNkUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgdHJhbnNmb3JtPSJyb3RhdGUoNDUgMTIgMTIpIj4KICAgICAgICA8cmVjdCB3aWR0aD0iMiIgaGVpZ2h0PSIxOCIgeD0iMTEiIHk9IjMiIHJ4PSIxIi8+CiAgICAgICAgPHJlY3Qgd2lkdGg9IjE4IiBoZWlnaHQ9IjIiIHg9IjMiIHk9IjExIiByeD0iMSIvPgogICAgPC9nPgo8L3N2Zz4K);
            width: 24px;
            height: 24px;
            margin: 10px 0;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiNGRjJGNkUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTYuNzU1IDExLjk4OGw0Ljk1OCA0Ljk1OGEuOTguOTggMCAxIDEtMS4zODcgMS4zODdMNCAxMi4wMDdsLjAwNS0uMDA1TDQgMTEuOTk3bDYuMzQzLTYuMzQzYS45Ny45NyAwIDEgMSAxLjM3MyAxLjM3M2wtNC45NjEgNC45NnoiLz4KICAgICAgICA8cGF0aCBkPSJNNiAxMWgxM2ExIDEgMCAwIDEgMCAySDZ2LTJ6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=) !important;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            font-size: 100%;
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            line-height: normal;
        }

        .css-1n41o32 {
            position: fixed;
            z-index: 50;
            background: #fff;
            width: 100%;
            border-bottom: 1px solid #d2d2d2;
        }

        .css-1mxbo8g-HeaderBarPrimitive {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 50;
            background: #fff;
            box-sizing: border-box;
            font-size: 17px;
            font-weight: 700;
            -webkit-letter-spacing: -0.5px;
            -moz-letter-spacing: -0.5px;
            -ms-letter-spacing: -0.5px;
            letter-spacing: -0.5px;
            line-height: 22px;
            width: 100%;
            height: 44px;
            padding: 0 16px;
            border-bottom: 1px solid #e3e3e3;
            top: 62px;
            text-align: left;
            height: auto;
            position: relative;
            top: 0 !important;
            border: 0;
        }

        .css-uf1ume {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        .css-7d0ya9 {
            display: flex;
            transform: translate3d(0px, 0px, 0px);
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            height: 0px;
            margin: 0px 4px;
            opacity: 0;
            transition: all 150ms ease 0s;
        }

        .css-mp8yzl {
            display: none;
            font-weight: 700;
            letter-spacing: -1.2px;
            font-size: 22px;
            line-height: 29px;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .css-15eb5z0 {
            position: absolute;
            top: 0px;
            right: 0px;
            left: 0px;
            white-space: nowrap;
            text-align: center;
            font-size: 17px;
            font-weight: 700;
            letter-spacing: -0.5px;
            line-height: 22px;
            margin: 11px 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            opacity: 1;
            transition: all 300ms ease 0s;
        }

        /* --------------------------------------------------------------- */
        
        @media (min-width: 960px){ .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
            width: 14.285714285714286%;
        }}
        
        @media (min-width: 840px) {.css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
            width: 16.666666666666668%;
        }}
        
        @media (min-width: 680px){ .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
            width: 20%;
        }}
        
        @media (min-width: 520px) {.css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
            width: 25%;
        }}
        @media (min-width: 1100px){ .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
            width: 12.5%;
        }}

        .css-8y23cj {
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            width: 33.333333333333336%;
            padding: 0 5px;
            margin: 0 0 24px;
        }

        .css-8y23cj {
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            width: 33.333333333333336%;
            padding: 0 5px;
            margin: 0 0 24px;
        }

        .css-8y23cj>a {
            display: inline-block;
            -webkit-text-decoration: none;
            text-decoration: none;
            width: 100%;
        }

        .css-1qmeemv {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 145.37037037037038%;
        }

        .css-unzuzl-StyledLazyLoadingImage {
            position: relative;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border: 1px solid #eae9e8;
            border-radius: 5px;
            background: #f8f8f8;
            -webkit-transition: 300ms;
            transition: 300ms;
        }

        .css-qhzw1o-StyledImg {
            vertical-align: top;
            width: 100%;
            height: 100%;
            opacity: 1;
            object-fit: cover;
            transition: opacity 420ms ease 0s;
        }

        img {
            border-style: none;
        }

        @media (min-width: 719px) {
            .css-oobk33.ottBadge {
                margin: 6px 6px 0px 0px;
            }
        }

        .css-oobk33.ottBadge {
            margin: 4px 4px 0px 0px;
        }

        @media (min-width: 719px) {
            .css-oobk33 {
                background-size: 20px;
                width: 30px;
                height: 30px;
                padding: 4px;
            }
        }

        .css-oobk33 {
            position: relative;
            float: right;
            background: url(https://an2-img.amz.wtchn.net/image/v2/33c15d9….png?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKd1lYUm9Jam9pTDNZeUwzTjBiM0psTDNWcGJXRm5aUzh4TmpFeE1qQXdNVGN3T1RZd05qWTVNRE0xSW4wLlFwWFc3MERPaF9GR3ZMWVVzSUFCOFdLNWhLRjE3Ym5za1Z1bVFEN0lsSkU) center center / 17px no-repeat rgb(255, 255, 255);
            box-sizing: border-box;
            width: 24px;
            height: 24px;
            padding: 4px 3px 3px 4px;
            border: 1px solid rgba(0, 0, 0, 0.07);
            border-radius: 50%;
            opacity: 1;
            transition: opacity 300ms ease 0s;

        }

        /* -------------------------------------------- */



        .css-1qmeemv {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 145.37037037037038%;
        }

        .css-unzuzl-StyledLazyLoadingImage {
            position: relative;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border: 1px solid #eae9e8;
            border-radius: 5px;
            background: #f8f8f8;
            -webkit-transition: 300ms;
            transition: 300ms;
        }
        .css-5o7sb2.ottBadge {
            margin: 4px 4px 0px 0px;
        }

        @media (min-width: 719px) {
            .css-5o7sb2.ottBadge {
                margin: 6px 6px 0px 0px;
            }
        }


        @media (min-width: 719px) {
            .css-5o7sb2 {
                background-size: 20px;
                width: 30px;
                height: 30px;
                padding: 4px;
            }
        }

        .css-5o7sb2 {
            position: relative;
            float: right;
            background: url(https://an2-img.amz.wtchn.net/image/v1/updatable_images/2571/original/42e70f1bc34d7af54478a311983ecf6d3601eefa.png) center center / 17px no-repeat rgb(255, 255, 255);
            box-sizing: border-box;
            width: 24px;
            height: 24px;
            padding: 4px 3px 3px 4px;
            border: 1px solid rgba(0, 0, 0, 0.07);
            border-radius: 50%;
            opacity: 1;
            transition: opacity 300ms ease 0s;
        }

        .css-5o7sb2.ottBadge~.ottBadge {
            margin: 4px 3px 0px 0px;
        }
        @media (min-width: 719px) {
            .css-5o7sb2.ottBadge~.ottBadge {
                margin: 6px 4px 0px 0px;
            }
        }


        @media (min-width: 719px) {
            .css-oobk33.ottBadge {
                margin: 6px 6px 0px 0px;
            }
        }

        .css-oobk33.ottBadge {
            margin: 4px 4px 0px 0px;
        }

        @media (min-width: 719px) {
            .css-oobk33 {
                background-size: 20px;
                width: 30px;
                height: 30px;
                padding: 4px;
            }
        }

        .css-oobk33 {
            position: relative;
            float: right;
            background: url(https://an2-img.amz.wtchn.net/image/v2/33c15d90f101414a351372f19172859f.png?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKd1lYUm9Jam9pTDNZeUwzTjBiM0psTDNWcGJXRm5aUzh4TmpFeE1qQXdNVGN3T1RZd05qWTVNRE0xSW4wLlFwWFc3MERPaF9GR3ZMWVVzSUFCOFdLNWhLRjE3Ym5za1Z1bVFEN0lsSkU) center center / 17px no-repeat rgb(255, 255, 255);
            box-sizing: border-box;
            width: 24px;
            height: 24px;
            padding: 4px 3px 3px 4px;
            border: 1px solid rgba(0, 0, 0, 0.07);
            border-radius: 50%;
            opacity: 1;
            transition: opacity 300ms ease 0s;

        }

        .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive {
            list-style: none;
            padding: 0px;
            margin: 14px -5px 0px;
            overflow: hidden;
        }

        @media (min-width: 719px) {
            .css-1kcd80z {
                margin-top: 2px;
            }
        }

        .css-1kcd80z {
            color: rgb(255, 161, 54);
            font-size: 13px;
            font-weight: 400;
            letter-spacing: -0.2px;
            line-height: 18px;
            white-space: nowrap;
            height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .css-1y901al-Row {
    margin: 0 20px;
}
.css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 14px -5px 0;
    overflow: hidden;
}.css-wv7rn-AllSection {
    padding: 10px 0 0;
}
.css-12hxjcc-StyledHideableBlock {
    display: block;
}
.css-1y901al-Row {
    margin: 0 20px;
}
.css-8y23cj {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 32.5%;
    padding: 0 5px;
    margin: 0 0 24px;
}
@media (min-width: 520px) {.css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
    width: 24%;
}}
@media (min-width: 680px){ .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
    width: 19%;
}}
@media (min-width: 840px) {.css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
    width: 15.666666666666668%;
}}
@media (min-width: 960px){ .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
    width: 13.55714285714286%;
}}
@media (min-width: 1100px){ .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
            width: 11.65555%;
        }}

        @media (min-width: 1200px){ .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
            width: 11.1111%;
        }}
        @media (min-width: 1270px){ .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
            width: 10.1111%;
        }}
        @media (min-width: 1360px){
.css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive > li {
    width: 9.6%;
}}

        /* @media (min-width:1360px) {
            .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
                width: 10%;
            }
        }

        @media (min-width:1600px) {
            .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
                width: 9.090909090909092%;
            }
        }

        @media (min-width:1750px) {
            .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
                width: 8.333333333333334%;
            }
        }

        @media (min-width:1920px) {
            .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
                width: 7.6923076923076925%;
            }
        }

        @media (min-width:2080px) {
            .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
                width: 7.142857142857143%;
            }
        }

        @media (min-width:2220px) {
            .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
                width: 6.666666666666667%;
            }
        }

        @media (min-width:2380px) {
            .css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive>li {
                width: 6.25%;
            }
        } */
/* @media (min-width: 1360px){
.css-w29x4j-VisualUl-ContentGrid-ContentGridUsedInArchive > li {
    width: 7.2%;
}} */
.css-1kcd80z {
    color: rgb(255, 161, 54);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 18px;
    white-space: nowrap;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (min-width: 719px){
.css-1kcd80z {
    margin-top: 2px;
}}
.css-oobk33.ottBadge {
    margin: 4px 4px 0px 0px;
}

@media (min-width: 719px){
.css-oobk33.ottBadge {
    margin: 6px 6px 0px 0px;
}}
.css-5o7sb2.ottBadge ~ .ottBadge {
    margin: 4px 3px 0px 0px;
}

@media (min-width: 719px){
.css-5o7sb2.ottBadge ~ .ottBadge {
    margin: 6px 4px 0px 0px;
}}

.css-m9i0qw {
    color: rgb(255, 161, 54);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 18px;
    white-space: nowrap;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (min-width: 719px){
    .css-m9i0qw{
    margin-top: 2px;
}}
/* --------------------------------------------------------------------------- */
.css-1n41o32 {
    position: fixed;
    z-index: 50;
    background: rgb(255, 255, 255);
    width: 100%;
    border-bottom: 1px solid rgb(210, 210, 210);
}
.css-1mxbo8g-HeaderBarPrimitive {
    left: 0px;
    z-index: 50;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 22px;
    width: 100%;
    padding: 0px 16px;
    text-align: left;
    height: auto;
    position: relative;
    border: 0px;
    top: 0px !important;
}
.css-uf1ume {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-a6n3jw-StylelessButton-HeaderCloseButtonSelf-TopLeftButton {
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding: 0px;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 10px 0px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiNGRjJGNkUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTYuNzU1IDExLjk4OGw0Ljk1OCA0Ljk1OGEuOTguOTggMCAxIDEtMS4zODcgMS4zODdMNCAxMi4wMDdsLjAwNS0uMDA1TDQgMTEuOTk3bDYuMzQzLTYuMzQzYS45Ny45NyAwIDEgMSAxLjM3MyAxLjM3M2wtNC45NjEgNC45NnoiLz4KICAgICAgICA8cGF0aCBkPSJNNiAxMWgxM2ExIDEgMCAwIDEgMCAySDZ2LTJ6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=) !important;
}
.css-a6n3jw-StylelessButton-HeaderCloseButtonSelf-TopLeftButton {
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    padding: 0px;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin: 10px 0px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICAgIDxnIGZpbGw9IiNGRjJGNkUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTYuNzU1IDExLjk4OGw0Ljk1OCA0Ljk1OGEuOTguOTggMCAxIDEtMS4zODcgMS4zODdMNCAxMi4wMDdsLjAwNS0uMDA1TDQgMTEuOTk3bDYuMzQzLTYuMzQzYS45Ny45NyAwIDEgMSAxLjM3MyAxLjM3M2wtNC45NjEgNC45NnoiLz4KICAgICAgICA8cGF0aCBkPSJNNiAxMWgxM2ExIDEgMCAwIDEgMCAySDZ2LTJ6Ii8+CiAgICA8L2c+Cjwvc3ZnPgo=) !important;
}

button, input, optgroup, select, textarea {
    font-size: 100%;
}
button, input, optgroup, select, textarea {
    line-height: normal;
}
button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
.css-7d0ya9 {
    display: flex;
    transform: translate3d(0px, 0px, 0px);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 0px;
    margin: 0px 4px;
    opacity: 1;
    transition: all 150ms ease 0s;
}
.css-mp8yzl {
    display: none;
    font-weight: 700;
    letter-spacing: -1.2px;
    font-size: 22px;
    line-height: 29px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.css-15eb5z0 {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    white-space: nowrap;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 22px;
    margin: 11px 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 1;
    transition: all 300ms ease 0s;
}
