@charset "UTF-8";

* { margin:0; padding:0; text-decoration:none; font-family:'Noto Sans KR', sans-serif; }
			
.square_div{ position:relative; width:100%; }

:root { --sat: env(safe-area-inset-top); --sal: env(safe-area-inset-left); --sar: env(safe-area-inset-right); --sab: env(safe-area-inset-bottom); }

section { display: block; }
      
h2 { display: block; font-size: 1.5em; margin-block-start: 0.83em; margin-block-end: 0.83em; margin-inline-start: 0px; margin-inline-end: 0px;
	font-weight: bold; }

li { display: list-item; text-align: -webkit-match-parent; }
      
ul { list-style-type: disc; }

ul ul { list-style-type: circle; margin-block-start: 0px; margin-block-end: 0px; }

div { display: block; }

img { border-style: none; }

a { background-color: transparent; }

element.style {
	background-image: url(https://an2-img.amz.wtchn.net/image/v2/RtcHzUplAtMowsq5Ba5wdw.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1KbklsMHNJbkFpT2lJdmRqSXZjM1J2Y21VdmQyVmlkRzl2Ymk4eE5qTXhOems0TURRek1qTTBNak16TVRFeElpd2ljU0k2T0RBc0luY2lPakU0TUgwLmZoTHlBaDJzbEdqZUdDa3pSZGVNQVZBaDZaREFETVpHdDFrbzBiWXFCajA);
}

/* section css start */
.square_div {
    position: relative;
    width: 100%;
}
 
.css-18gwkcr {
    padding-top: 0px;
    padding-bottom: 56px;
}
@media (min-width: 719px) {
    .css-18gwkcr {
        padding-top: 62px;
        padding-bottom: unset;
    }
}

.css-le8j8b {
    padding: 64px 0px 32px;
}
@media (min-width: 719px) {
    .css-le8j8b {
        padding: 0px 0px 32px;
    }
}

.css-1jehmiq {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(247, 247, 247);
    color: rgb(116, 116, 123);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.3px;
    line-height: 26px;
    width: 100%;
    height: 43px;
}
@media (max-width:719px) {
    .css-1jehmiq {
        display: none;
    }
}

.css-10zg79x-pageMarginStyle {
    width: 100%;
    max-width: 1320px;
    margin-right: 20px;
    margin-left: 20px;
}
@media (min-width:600px) {
    .css-10zg79x-pageMarginStyle {
        margin-right: 20px;
        margin-left: 20px;
    }
}
@media (min-width:760px) {
    .css-10zg79x-pageMarginStyle {
        margin: 0 3.5%;
    }
}
@media (min-width:1100px) {
    .css-10zg79x-pageMarginStyle {
        margin: 0 60px;
    }
}
@media (min-width:1440px) {
    .css-10zg79x-pageMarginStyle {
        margin-right: auto;
        margin-left: auto;
    }
}

.css-15qcwbn-StyledTabBarContainer {
    position: relative;
    box-sizing: border-box;
    width: auto;
    max-width: 1320px;
    height: 50px;
    padding: 0 15px;
    border-bottom: 1px solid #e4e4e4;
}
@media (min-width:720px) {
    .css-15qcwbn-StyledTabBarContainer {
        padding: 0;
        margin: 0 20px;
    }
}
@media (min-width:760px) {
    .css-15qcwbn-StyledTabBarContainer {
        margin: 0 3.5%;
    }
}
@media (min-width:1100px) {
    .css-15qcwbn-StyledTabBarContainer {
        margin: 0 60px;
    }
}
@media (min-width:1440px) {
    .css-15qcwbn-StyledTabBarContainer {
        margin: 0 auto;
    }
}

.css-1gwdxtz-VisualUl-StyledTabBarUl {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.css-s8lqsd-StyledTab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    color: #292a32;
    font-size: 15px;
    font-weight: 400;
    -webkit-letter-spacing: -0.3px;
    -moz-letter-spacing: -0.3px;
    -ms-letter-spacing: -0.3px;
    letter-spacing: -0.3px;
    line-height: 22.2px;
    box-sizing: border-box;
    height: 100%;
    padding-top: 3px;
    padding-right: 17.5px;
    padding-left: 17.5px;
    border-bottom: 2px solid #292a32;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.css-4tchbd-StyledTab {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    color: #74747B;
    font-size: 15px;
    font-weight: 400;
    -webkit-letter-spacing: -0.3px;
    -moz-letter-spacing: -0.3px;
    -ms-letter-spacing: -0.3px;
    letter-spacing: -0.3px;
    line-height: 22.2px;
    box-sizing: border-box;
    height: 100%;
    padding-top: 3px;
    padding-right: 17.5px;
    padding-left: 17.5px;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.css-ipmqep-StyledTabContentContainer {
    width: 100%;
    overflow-x: hidden;
}

.css-12hxjcc-StyledHideableBlock {
    display: block;
}

.css-9ebwyf-pageMarginStyle {
    max-width: 1320px;
    margin-right: 20px;
    margin-left: 20px;
}
@media (min-width:600px) {
    .css-9ebwyf-pageMarginStyle {
        margin-right: 20px;
        margin-left: 20px;
    }
}
@media (min-width:760px) {
    .css-9ebwyf-pageMarginStyle {
        margin: 0 3.5%;
    }
}
@media (min-width:1100px) {
    .css-9ebwyf-pageMarginStyle {
        margin: 0 60px;
    }
}
@media (min-width:1440px) {
    .css-9ebwyf-pageMarginStyle {
        margin-right: auto;
        margin-left: auto;
    }
}
.css-9ebwyf-pageMarginStyle [class*="Row"] {
    margin: 0;
}

.css-1s4ow07 {
    padding: 24px 0px 0px;
}

.css-usdi1z {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.css-usdi1z:hover .arrow_button {
    opacity: 1;
}

.css-9dnzub {
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-scrollbar-width: none;
    -moz-scrollbar-width: none;
    -ms-scrollbar-width: none;
    scrollbar-width: none;
}
.css-9dnzub::-webkit-scrollbar {
    display: none !important;
}

.css-174lxc3 {
    -webkit-transition: 500ms;
    transition: 500ms;
}

.css-1bk3hui-VisualUl {
    list-style: none;
    padding: 0px;
    white-space: nowrap;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: -5px !important;
    margin-left: -5px !important;
}
.css-1bk3hui-VisualUl {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    margin-right: -5px !important;
    margin-left: -5px !important;
    margin: 14px 0 0;
    margin: 0;
}
.css-1bk3hui-VisualUl::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 100%;
}
.css-1bk3hui-VisualUl::after {
    content: none !important;
}
.css-1bk3hui-VisualUl>li {
    width: 16.3%;
    padding: 0 5px;
    margin-bottom: 0;
}
.css-1bk3hui-VisualUl>li:last-of-type {
    vertical-align: middle;
}

.css-8y23cj {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 33.333333333333336%;
    padding: 0 5px;
    margin: 0 0 24px;
}
.css-8y23cj>a {
    display: inline-block;
    -webkit-text-decoration: none;
    text-decoration: none;
    width: 100%;
}

.css-1qmeemv {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 145.37037037037038%;
}

.css-unzuzl-StyledLazyLoadingImage {
    position: relative;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #eae9e8;
    border-radius: 5px;
    background: #f8f8f8;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.css-qhzw1o-StyledImg {
    vertical-align: top;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
    transition: opacity 420ms ease 0s;
}

.css-ixy093 {
    text-align: left;
    width: calc(100% - 10px);
    margin: 5px 10px 0 0;
}
@media (max-width:720px) {
    .css-ixy093 {
        height: 55px;
        margin: 6px 5px 0 0;
    }
}
   
.css-31iyzt {
    color: #1f1f1f;
    font-size: 15px;
    font-weight: 400;
    -webkit-letter-spacing: -0.5px;
    -moz-letter-spacing: -0.5px;
    -ms-letter-spacing: -0.5px;
    letter-spacing: -0.5px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
   
.css-1thqxgo {
    color: #a0a0a0;
    font-size: 13px;
    font-weight: 400;
    -webkit-letter-spacing: -0.2px;
    -moz-letter-spacing: -0.2px;
    -ms-letter-spacing: -0.2px;
    letter-spacing: -0.2px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-jgn78h {
    color: #a0a0a0;
    font-size: 12px;
    font-weight: 400;
    -webkit-letter-spacing: -0.2px;
    -moz-letter-spacing: -0.2px;
    -ms-letter-spacing: -0.2px;
    letter-spacing: -0.2px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}
      
.list_box_watcha_badge { position: relative; float: right; background: url(https://an2-img.amz.wtchn.net/image/v2/33c15d90f101414a351372f19172859f.png?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKd1lYUm9Jam9pTDNZeUwzTjBiM0psTDNWcGJXRm5aUzh4TmpFeE1qQXdNVGN3T1RZd05qWTVNRE0xSW4wLlFwWFc3MERPaF9GR3ZMWVVzSUFCOFdLNWhLRjE3Ym5za1Z1bVFEN0lsSkU) center center / 17px no-repeat rgb(255, 255, 255);
		box-sizing: border-box; width: 24px; height: 24px; padding: 4px 3px 3px 4px; border: 1px solid rgba(0, 0, 0, 0.07);
		border-radius: 50%; opacity: 1; transition: opacity 300ms ease 0s; }
		@media (min-width:719px) { .list_box_watcha_badge { background-size: 20px; width: 30px; height: 30px; padding: 4px; } }
		@media (min-width:719px) { .list_box_watcha_badge.ottBadge { margin: 6px 6px 0px 0px; } }
		
.list_box_netflix_badge { position: relative; float: right; background: url(https://an2-img.amz.wtchn.net/image/v1/updatable_images/2571/original/42e70f1bc34d7af54478a311983ecf6d3601eefa.png) center center / 17px no-repeat rgb(255, 255, 255);
		box-sizing: border-box; width: 24px; height: 24px; padding: 4px 3px 3px 4px; border: 1px solid rgba(0, 0, 0, 0.07);
		border-radius: 50%; opacity: 1; transition: opacity 300ms ease 0s; }
		@media (min-width: 719px) { .list_box_netflix_badge { background-size: 20px; width: 30px; height: 30px; padding: 4px; } }
.list_box_netflix_badge.ottBadge { margin: 4px 4px 0px 0px; }
		@media (min-width: 719px) { .list_box_netflix_badge.ottBadge { margin: 6px 6px 0px 0px; } }
      
.css-ml096x {
    display: inline-block;
    margin: 0;
}

.css-a89h8a {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    width: 0;
    height: 100%;
}
.list_box_left_area { display:flex; position:absolute; top:0px; z-index:1; left:0px; width:8px; height:100%; }

.css-1qgb5vh {
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
    width: 0;
    height: 100%;
}
.list_box_right_area { display:flex; position:absolute; top:0px; z-index:1; left:0px; width:8px; height:100%; }
   
.css-1553dc {
    display: none;
    position: absolute;
    top: 0px;
    z-index: 2;
    left: -9px;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    transition: all 300ms ease 0s;
}
.list_box_left_div { display:none; position:absolute; top:0px; z-index:2; left:-9px; -webkit-box-align:center; height:100%; opacity:0;
		transition:all 300ms ease 0s; transition-duration: 300ms; transition-timing-function: ease; transition-delay: 0s;
		transition-property: all; }
   
.css-1hestod {
    background: #a5a5aa url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMEgxMlYxNkgweiIgdHJhbnNmb3JtPSJyb3RhdGUoMTgwIDYgOCkiLz4KICAgICAgICA8cGF0aCBmaWxsPSIjMjkyQTMyIiBzdHJva2U9IiMyOTJBMzIiIHN0cm9rZS13aWR0aD0iLjM1IiBkPSJNMy40MjkgMTMuNDA5TDQuMzU0IDE0LjI1OCAxMC42OCA4LjQ2IDExLjE0MyA4LjAzNiA0LjM1NCAxLjgxMyAzLjQyOSAyLjY2MiA5LjI5MSA4LjAzNnoiIHRyYW5zZm9ybT0icm90YXRlKDE4MCA2IDgpIi8+CiAgICA8L2c+Cjwvc3ZnPgo=) no-repeat 12px;
    background-color: #fff;
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    border: solid 1px #f9f9f9;
    border-radius: 50%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    background-size: 12px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    display: none;
}
.css-1hestod:hover {
    opacity: 1;
}
.list_box_left_arrow { background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMEgxMlYxNkgweiIgdHJhbnNmb3JtPSJyb3RhdGUoMTgwIDYgOCkiLz4KICAgICAgICA8cGF0aCBmaWxsPSIjMjkyQTMyIiBzdHJva2U9IiMyOTJBMzIiIHN0cm9rZS13aWR0aD0iLjM1IiBkPSJNMy40MjkgMTMuNDA5TDQuMzU0IDE0LjI1OCAxMC42OCA4LjQ2IDExLjE0MyA4LjAzNiA0LjM1NCAxLjgxMyAzLjQyOSAyLjY2MiA5LjI5MSA4LjAzNnoiIHRyYW5zZm9ybT0icm90YXRlKDE4MCA2IDgpIi8+CiAgICA8L2c+Cjwvc3ZnPgo=) 12px center / 12px no-repeat rgb(255, 255, 255);
		background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDEyIDE2Ij4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMEgxMlYxNkgweiIgdHJhbnNmb3JtPSJyb3RhdGUoMTgwIDYgOCkiLz4KICAgICAgICA8cGF0aCBmaWxsPSIjMjkyQTMyIiBzdHJva2U9IiMyOTJBMzIiIHN0cm9rZS13aWR0aD0iLjM1IiBkPSJNMy40MjkgMTMuNDA5TDQuMzU0IDE0LjI1OCAxMC42OCA4LjQ2IDExLjE0MyA4LjAzNiA0LjM1NCAxLjgxMyAzLjQyOSAyLjY2MiA5LjI5MSA4LjAzNnoiIHRyYW5zZm9ybT0icm90YXRlKDE4MCA2IDgpIi8+CiAgICA8L2c+Cjwvc3ZnPgo=);
		background-position-x: 12px; background-position-y: center; background-size: 12px; background-repeat-x: no-repeat; background-repeat-y: no-repeat;
		background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(255, 255, 255);
		box-sizing: border-box; border: 1px solid rgb(249, 249, 249); border-radius: 50%; box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 0px;
		width: 34px; height: 34px; cursor: pointer; transition: opacity 300ms ease 0s; transition-duration: 300ms; transition-timing-function: ease;
		transition-delay: 0s; transition-property: opacity; }
.list_box_left_arrow_img { display: flex; position: absolute; top: 0px; z-index: 2; left: -9px; -webkit-box-align: center; align-items: center;
		height: 100%; opacity: 0; transition: all 300ms ease 0s; }
      
.css-147ng4f {
    display: flex;
    position: absolute;
    top: 0px;
    z-index: 2;
    right: -9px;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    transition: all 300ms ease 0s;
}
.css-pf83cl {
    display: flex;
    position: absolute;
    top: 0px;
    z-index: 2;
    right: -11px;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    transition: all 300ms ease 0s;
}

.list_box_right_div { display: flex; position: absolute; top: 0px; z-index: 2; right: -5px; -webkit-box-align: center; align-items: center;
	height: 100%; opacity: 0; transition: all 300ms ease 0s; }
	    
.css-vp7uyl {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgb(249, 249, 249);
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 0px;
    background-size: 12px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    transition: opacity 300ms ease 0s;
}
.list_box_right_arrow { display: flex; -webkit-box-pack: center; justify-content: center; -webkit-box-align: center; align-items: center;
	background-color: rgb(255, 255, 255); box-sizing: border-box; border: 1px solid rgb(249, 249, 249); border-radius: 50%;
	box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 0px; background-size: 12px; width: 34px; height: 34px; cursor: pointer;
	transition: opacity 300ms ease 0s; }
.css-vp7uyl>img {
    opacity: 0.4;
}
.css-vp7uyl:hover>img {
    opacity: 0.8;
}
.css-vp7uyl:hover {
    opacity: 1;
}
.list_box_right_arrow > img { opacity:0.4; border-style: none; border-top-style: none; border-right-style: none; border-bottom-style: none;
	border-left-style: none; overflow-clip-margin: content-box; overflow: clip; /* overflow-x: ; overflow-y: ; */ }

.css-cf9e76 {
    border: 0;
    border-bottom: 1px solid #f0f0f0;
    padding-top: 42px;
}
.css-god8tc {
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-bottom-style: solid;
    border-bottom-color: rgb(240, 240, 240);
}
.css-god8tc {
    border: 0;
    border-bottom: 1px solid #f0f0f0;
}
      
.css-11yyw1d {
    padding: 6px 0px 0px;
}

.css-1y901al-Row.emmoxnt0 {}
.css-1y901al-Row {
    margin: 0px 20px;
}

.css-1ue9xs6 {
    overflow: hidden;
}
      
.css-1wtjsst {
    float: left;
    color: rgb(0, 0, 0);
    font-size: 19px;
    font-weight: 700;
    letter-spacing: -0.7px;
    line-height: 28px;
    margin: 8px 0px;
}

.css-s289sk {
    float: right;
}

.css-1ugqy9j {
    margin: 12px 0px;
}
.css-1ugqy9j>a {
    color: rgb(255, 47, 110);
    text-decoration: none;
}

.css-bhgne5-StyledBackground {
    display: inline-block;
    position: absolute;
    inset: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    transition: all 300ms ease 0s;
}

.css-1a4f9b-VisualUl {
    list-style: none;
    margin: 0px -5px;
    height: 357px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    padding: 4px 0px 42px;
}
.css-1a4f9b-VisualUl::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 100%;
}
@media (min-width:640px) {
    .css-1a4f9b-VisualUl>li {
        width: 50%;
    }
}
@media (min-width:719px) {
    .css-1a4f9b-VisualUl>li {
        width: 50%;
    }
}
@media (min-width:1023px) {
    .css-1a4f9b-VisualUl>li {
        width: 335px;
    }
}
@media (min-width:1024px) {
    .css-1a4f9b-VisualUl>li {
        width: 33.333333333333336%;
    }
}

.css-1iuimiv {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 5px;
}
.css-1iuimiv [class*="InnerPartOfListWithImage"] {
    height: 119px;
}

.css-1aaqvgs-InnerPartOfListWithImage {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
    height: 76px;
}

.css-cssveg {
    position: relative;
}

.css-14fymwm-StyledSelf {
    position: relative;
    overflow: hidden;
    background: rgb(248, 248, 248);
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    width: 71px;
    height: 103px;
    margin: 0px 11px 0px 0px;
}

.css-zoy7di {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    border-bottom: 1px solid #f0f0f0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-qkf9j {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 10px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-x62r3q {
    color: #1f1f1f;
    font-size: 17px;
    font-weight: 400;
    -webkit-letter-spacing: -0.7px;
    -moz-letter-spacing: -0.7px;
    -ms-letter-spacing: -0.7px;
    letter-spacing: -0.7px;
    line-height: 22px;
    white-space: nowrap;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-h25two {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 400;
    -webkit-letter-spacing: -0.3px;
    -moz-letter-spacing: -0.3px;
    -ms-letter-spacing: -0.3px;
    letter-spacing: -0.3px;
    line-height: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.css-d1dfdp-StyledHideableBlock { /* 검색중...? */
    display: none;
}
   
.css-1ru4e2-VisualUl {
    list-style: none;
    margin: 0px -5px;
    height: 261px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    padding: 4px 0px 42px;
}
@media (min-width: 640px) {
    .css-1ru4e2-VisualUl>li {
        width: 50%;
    }
}
@media (min-width: 719px) {
    .css-1ru4e2-VisualUl>li {
        width: 100%;
    }
}
@media (min-width: 1023px) {
    .css-1ru4e2-VisualUl>li {
        width: 100%;
    }
}
@media (min-width: 1024px) {
    .css-1ru4e2-VisualUl>li {
        width: 33.3333%;
    }
}

.css-tsoj12 {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 5px;
}

.css-tsoj12 [class*="InnerPartOfListWithImage"] {
    height: 87px;
}

.css-r2dzai {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.css-lw0ve8 {
    display: flex;
    margin: 12px 0px;
}
.css-lw0ve8 form {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.css-ibgwco {
    background: transparent;
    font-weight: 400;
    letter-spacing: -0.7px;
    font-size: 16px;
    line-height: 21px;
    width: 100%;
    padding: 0px;
    border: 0px;
    overflow: hidden;
    caret-color: rgb(255, 47, 110);
}

.css-1ax2scd {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    width: 24px;
    height: 100%;
}

.css-ozvtwa-StylelessButton {
    background: none;
    padding: 0px;
    border: none;
    margin: 0px 0px 0px 13px;
    cursor: pointer;
    flex-shrink: 0;
    color: rgb(255, 47, 110);
    font-size: 16px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 21px;
}
   
.css-38kpup {
    display: flex;
    position: absolute;
    top: 0px;
    z-index: 2;
    left: -11px;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    opacity: 0;
    transition: all 300ms ease 0s;
}



.css-16n7af8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.css-j1pzxa {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 8px;
}

.css-114j9we {
    background: no-repeat center / 30px url(https://an2-img.amz.wtchn.net/image/v2/7afc87022ba3fb94885f74d3fd0453be.png?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKd1lYUm9Jam9pTDNZeUwzTjBiM0psTDNWcGJXRm5aUzh4TmpBM09UazNNRFU0TURjeU1UZ3hNak0wSW4wLlRYbGNGZGNqM3laQnlULVlGTUZtRDc1OE9PbVlfUWJFSGFlN2NkSzBlTWc);
    box-sizing: border-box;
    width: 37px;
    height: 16px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.css-114j9we:not(:first-of-type) {
    margin-left: 2px;
}

.css-6qnjre {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}

.css-1bd9qhw {
    background: no-repeat center / 30px url(https://an2-img.amz.wtchn.net/image/v2/02219d4cc10cbc20189be2146269c045.png?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKd1lYUm9Jam9pTDNZeUwzTjBiM0psTDNWcGJXRm5aUzh4TmpBM09UazNNRGMwTWpjMk5URTVNemt3SW4wLjAzcU9OMDFjRk11cWhTRktOejNDdEFIbFN2YnZCSU92a1l4YmRRa1dvOHM);
    box-sizing: border-box;
    width: 37px;
    height: 16px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.css-1bd9qhw:not(:first-of-type) {
    margin-left: 2px;
}

.css-1aogsz3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 118px 0 56px;
}
@media (min-width:720px) {
    .css-1aogsz3 {
        margin: 155px 0 0;
    }
}

.css-z1bhn7-Self {
    text-align: center;
    padding: 18px 0 14px;
}

.css-2kgnjb {
    display: block;
    position: relative;
    width: 26px;
    height: 26px;
    border: 3px solid #e5e5e5;
    border-radius: 100%;
    margin: 0 auto;
    -webkit-animation: animation-c24ia8 1s infinite linear;
    animation: animation-c24ia8 1s infinite linear;
}
.css-2kgnjb::before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top-color: #ff2f6e;
    border-radius: 100%;
}
@-webkit-keyframes animation-c24ia8 {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes animation-c24ia8 {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.css-1yxwu9j-Message {
    color: #a0a0a0;
    font-size: 15px;
    font-weight: 400;
    -webkit-letter-spacing: -0.5px;
    -moz-letter-spacing: -0.5px;
    -ms-letter-spacing: -0.5px;
    letter-spacing: -0.5px;
    line-height: 20px;
    margin-top: 12px;
}
	
.css-w1gv2u-StyledSelf {
    position: relative;
    overflow: hidden;
    background: rgb(248, 248, 248);
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    width: 71px;
    height: 71px;
    margin: 0px 11px 0px 0px;
}
.css-w1gv2u-StyledSelf span {
    background-color: rgb(61, 27, 10);
    background-size: contain;
}

.css-jjeww0-StyledSelf {
    position: relative;
    overflow: hidden;
    background: #f8f8f8;
    box-sizing: border-box;
    border: solid 1px rgba(0,0,0,0.08);
    border-radius: 3px;
    width: 71px;
    height: 71px;
    margin: 0 11px 0 0;
}

.css-1x54n61-StyledSelf {
    position: relative;
    overflow: hidden;
    background: rgb(248, 248, 248);
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    width: 71px;
    height: 71px;
    margin: 0px 11px 0px 0px;
}
       
.css-5o7sb2 {
    position: relative;
    float: right;
    background: url(https://an2-img.amz.wtchn.net/image/v1/updatable_images/2571/original/42e70f1bc34d7af54478a311983ecf6d3601eefa.png) center center / 17px no-repeat rgb(255, 255, 255);
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    padding: 4px 3px 3px 4px;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 300ms ease 0s;
}
.css-5o7sb2.ottBadge {
    margin: 4px 4px 0px 0px;
}
@media (min-width: 719px){
	.css-5o7sb2.ottBadge {
	    margin: 6px 6px 0px 0px;
	}
}
@media (min-width: 719px){
	.css-5o7sb2 {
	    background-size: 20px;
	    width: 30px;
	    height: 30px;
	    padding: 4px;
	}
}
/* section css end */