<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whychapedia.mapper.LikeMapper">
	<!--좋아요 많이 받은 감독 "theNum"만큼 가져오기 -->
	<select id="selectTopLikeList" resultType="java.lang.Integer">
				select director_id fROM
				(SELECT director_id, COUNT(*) as num_likes 
				FROM director_like
				GROUP BY director_id
				ORDER BY num_likes DESC
				FETCH FIRST #{theNum} ROWS ONLY)
	</select>
	
	<!-- 코멘트 대한 like 가져오기  -->
	<select id="selectCommentLike" resultType="com.whychapedia.vo.LikeVo">
		select * fROM comment_like 
		where comment_id in 
			<foreach collection="commentVolist" item="comment" open="(" close=")" separator=",">
				#{comment.id}
			</foreach> 
	</select>
	
	<!-- 코멘트 좋아요 추가 -->
	<insert id="insertLikeOne">
		insert into comment_like(id, comment_id, user_id) values((select coalesce(max(id),0)+1 from comment_like), #{comment_id}, #{user_id})
	</insert>
	
	<!-- 코멘트 좋아요 삭제 -->
	<delete id="deleteLikeOne">
		delete from comment_like where comment_id=#{comment_id} and user_id=#{user_id}
	</delete>
	
	<!-- 코멘트 1개에 대한 좋아요 카운트 -->
	<select id="selectCommentOneLike" resultType="int">
		select count(*) like_count fROM comment_like 
			where comment_id=#{comment.id}
	</select>


</mapper>