<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.whychapedia.mapper.MovieDirectorMapper">
 <select id="selectAllDirector" resultType="com.whychapedia.vo.MovieDirectorVo">
 	SELECT *
  		FROM movie_director md
  		JOIN director d ON md.director_id = d.id
  		WHERE md.movie_id = #{movie_id}		
 </select>	

 
 </mapper>