<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.whychapedia.mapper.MovieMapper">

  <!--서로 다른 영화 아이디가 담긴 list를 받아서 해당 영화 # 개 넣기 (불러올 영화 번호를 알고 있는 상태)-->
  <select id="selectTopMovie" resultType="com.whychapedia.vo.MovieVo">
        SELECT * FROM movie WHERE id IN (
            <foreach collection="topMovieIdList" item="movieId" separator=",">
                #{movieId}
            </foreach>
        )
  </select>
  
  <!--감독 아이디로 해당 감독 영화 받아오기 	 -->
  <select id="selectAllMovieofTheDirector" resultType="com.whychapedia.vo.MovieVo">
        SELECT m.*
			FROM movie m
			JOIN movie_director md
			ON m.ID = md.MOVIE_ID
			WHERE md.director_id = #{theDirectorId}
  </select>
  
  <!--영화 평점 높은 순으로 #개 영화 들고오기-->
  <select id="selectTopRateMovieList" resultType="com.whychapedia.vo.MovieVo">
		SELECT *
		FROM (
		SELECT *
		FROM movie
		ORDER BY movie_rating DESC
		)
		WHERE ROWNUM &lt;= #{movie_num}
  </select>
  
   <!--컬렉션_영화vo 가져와서 해당 영화 정보 모두 가져오기 (list) -->
  <select id="selectMovieInCollectionList" resultType="com.whychapedia.vo.MovieVo">
		SELECT * FROM movie WHERE id IN (
            <foreach collection="movieCollectionVoList" item="movieCollectionVo" separator=",">
                #{movieCollectionVo.movie_id}
            </foreach>
        ) 
  </select>
  
     <!--컬렉션_영화vo 가져와서 해당 영화 정보 모두 가져오기 (list) -->
  <select id="selectOneMovie" resultType="com.whychapedia.vo.MovieVo">
		SELECT * FROM movie WHERE id =#{movie_id}
            
 
  </select>

     <!--해당 영화 같은 장르 영화 리스트 #개 가져오기 -->
  <select id="selectMovieWithSameGenre" resultType="com.whychapedia.vo.MovieVo">
		  SELECT m.id,m.movie_kor_title,m.movie_rating,m.movie_post_url,m.movie_total_audience
  				FROM movie_genre mg
  				JOIN movie m ON mg.movie_id = m.id
  				WHERE mg.genre_id = #{genre_id}
  				AND m.movie_post_url != '0'
  				AND ROWNUM &lt;= #{num}
            
 
  </select>
   <!--검색해서 관련 영화 리스트 가져오기 한글 제목&영어제목&감독이름&배우이름과 연관된 영화들-->
  <select id="selectSearchMovieAll" resultType="com.whychapedia.vo.MovieVo">
	SELECT DISTINCT m.*
	FROM movie m
	INNER JOIN movie_director md ON m.ID = md.MOVIE_ID
	INNER JOIN director d ON md.DIRECTOR_ID = d.ID
	INNER JOIN movie_actor ma ON m.ID = ma.MOVIE_ID
	INNER JOIN actor a ON ma.ACTOR_ID = a.ID
	WHERE d.DIRECTOR_NAME LIKE '%' || #{searchKeyword} || '%'
	OR a.ACTOR_NAME LIKE '%' || #{searchKeyword} || '%'
	OR (REPLACE(MOVIE_KOR_TITLE, ' ', '') LIKE '%' || #{searchKeyword} || '%'
	OR REPLACE(MOVIE_ORIGINAL_TITLE, ' ', '') LIKE '%' || #{searchKeyword} || '%')
  </select>
  
  <!--해당 id의 출연영화 정보 모두 가져오기  -->
  <select id="selectActorPersonMovieAll" resultType="com.whychapedia.vo.MovieVo">
    SELECT m.*
	FROM actor a
	INNER JOIN movie_actor ma ON a.ID = ma.ACTOR_ID
	INNER JOIN movie m ON ma.MOVIE_ID = m.ID
	WHERE a.ID = #{id}
  </select>
  
  
  
  
  
  
  
  </mapper>