<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.whychapedia.mapper.MovieGenreMapper">
    
<!--해당 영화 장르 가져오기 -->
 <select id="selectAllGenre" resultType="com.whychapedia.vo.MovieGenreVo">
 	SELECT *
  		FROM movie_genre mg
  		JOIN genre g ON mg.genre_id = g.id
  		WHERE mg.movie_id = #{movie_id}
 		 
 </select>	 
 		 
 		 
 		 
 <!--선호하는 나라 가져오기  -->
  <select id="selectPreferenceGenre" resultType="com.whychapedia.vo.MovieGenreVo">
        SELECT g.id as genre_id,g.genre_kor as genre_kor,COUNT(*) as search_count
		FROM genre g
		JOIN movie_genre mg ON g.id = mg.genre_id
		JOIN (
  			SELECT movie_id
  			FROM star_rate
  			WHERE user_id = #{user_id}
		) sr ON sr.movie_id = mg.movie_id
		GROUP BY g.id, g.genre_kor
		ORDER BY search_count DESC
		FETCH FIRST 3 ROWS ONLY
 </select>

 
 
  </mapper>