<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.whychapedia.mapper.MovieMapper">
  
  
  
  
    <!--주어진 영화고유 아이디 10개로 영화 정보 10개 가져오기 -->
  <select id="select10Movie" resultType="com.whychapedia.vo.MovieVo">
        SELECT * FROM movie WHERE id IN (
            <foreach collection="movieTop10List" item="movieId" separator=",">
                #{movieId}
            </foreach>
        )
  </select>
  
  
  
  
  
  
  
  
  </mapper>