<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.whychapedia.mapper.MovieActorMapper">
    

 <select id="selectAllActor" resultType="com.whychapedia.vo.MovieActorVo">
 	SELECT *
  		FROM movie_actor ma
  		JOIN actor a ON ma.actor_id = a.id
  		WHERE ma.movie_id = #{movie_id}
 		 
 </select>	
 <!-- 해당검색어를 가지고 관련 배우 가져오기 -->
<select id="selectSearchActorAll" resultType="com.whychapedia.vo.MovieActorVo">
	SELECT DISTINCT actor.id, actor.actor_name, actor.actor_post_url, movie_actor.actor_role
	FROM actor
	INNER JOIN movie_actor
	ON actor.id = movie_actor.actor_id
	WHERE REPLACE(actor.actor_name, ' ', '') LIKE '%' || #{searchKeyword} || '%'
</select>
 </mapper>